<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.downtoearth.toget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_DAIL" />
    <uses-permission android:name="android.permission.ACTION_SENDTO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- authorities：app的包名.fileProvider （fileProvider可以随便写）,上面采用的是gradle的替换直接写成包名也可以，但是推荐这种方式，多渠道分包的时候不用关心了 -->
        <!-- grantUriPermissions：必须是true，表示授予 URI 临时访问权限 -->
        <!-- exported：必须是false -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--<activity android:name="com.example.downtoearth.toget.activity.SplashActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.PublishDynamicActivity" />
        <activity android:name=".activity.PublishCommentActivity" />
        <activity
            android:name=".activity.FullInfoActivity"
            android:label="@string/title_activity_full_info"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MadeItemActivity" />
        <activity android:name=".activity.EditInfoActivity" />
        <activity android:name=".activity.DynamicDetailActivity" />
        <activity android:name=".activity.CommentDetailActivity" />
        <activity android:name=".activity.SchoolHelpDetailActivity" />
        <activity android:name=".activity.SchoolHelpActivity" />
        <activity android:name=".activity.PublishSchoolHelpActivity" />
        <activity android:name=".activity.StuffLossActivity" />
        <activity android:name=".activity.PublishStuffActivity" />
        <activity android:name=".activity.CollegeMarketActivity" />
        <activity android:name=".activity.PhotoBrowseActivity" />

        <service android:name=".utils.DownloadIntentService" />

        <activity android:name=".activity.ChatActivity"
            ></activity>
        <activity android:name=".activity.MainPagerActivity"
            android:theme="@style/MainPagerTheme"/>
        <activity android:name=".activity.StuffDetailActivity"

            android:theme="@style/MainPagerTheme">
        </activity>
        <activity android:name=".activity.FeedBackActivity"/>
        <activity android:name=".activity.SettingActivity"/>
    </application>


</manifest>